/* Theme */

main {
  background: #EDEDED;
  color: #030405;
}

.icons-social a {
  color: #030405;
}

.icons-social a svg path{
  fill: #030405;
}

main > .tagline,
main > .intro {
  font-weight: bold;
}

.feature-list {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 1em;
}
